<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Sports index page</h1>
	        <ul class="sports">
	        <% for(let i = 0; i < iRSports.length; i++){ %>        
	            <li><%=iRSports[i].name; %></li>
	          
	          <form action="/sports/<%=i%>?_method=DELETE" method="POST">
                    <button type='Submit'>Delete</button>
              </form>

              <a href="/sports/<%=i%>/edit">Go to Edit page</a>
              
	        <% } %> 
	        </ul>





    </body>
</html> 