<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Sports index page</h1>
	        <ul class="sports">
	        <% for(let i = 0; i < iRSports.length; i++){ %>        
	            <li><%=iRSports[i].name; %></li>
	             
	        <% } %> 	
	        </ul>




    </body>
</html> 