<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports Show</title>
    </head>
    <body>
        <h1>Sports show page</h1>
        This sport's name is <%=sRSports.name; %><br>
        <img src="<%=sRSports.img; %>"><br>
        <a href="/sports/<%=index%>/edit">Go to Edit page</a>
    </body>
</html> 